<a href="https://colab.research.google.com/github/javieribanez17/OroForecastingIA/blob/main/OroForecasting_IA_JavierIb%C3%A1nhez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tarea semana 3 y 4

##Oro forecasting

In [3]:
# LIBRERIAS
import pandas as pd
import numpy as np

In [4]:
# LECTURA DEL ARCHIVO .CVS Y SE COMPRUEBA VIENDO LOS 10 PRIMEROS VALORES DEL ARCHIVO
dataframeGold = pd.read_csv('gold_price_data.csv')
dataframeGold.head(10)

         Date  Value
0  1970-01-01   35.2
1  1970-04-01   35.1
2  1970-07-01   35.4
3  1970-10-01   36.2
4  1971-01-01   37.4
5  1971-04-01   38.9
6  1971-07-01   40.1
7  1971-10-01   42.0
8  1972-01-03   43.5
9  1972-04-03   48.3

In [5]:
#DEFINICIÓN DE LAS ETIQUETAS Y CARACTERISTICAS. 
etiqueta = np.array(dataframeGold['Value'])[2:]
car_m1 = np.array(dataframeGold['Value'])[1:-1]
car_m2 = np.array(dataframeGold['Value'])[:-2]

In [6]:
#AGRUPANDO LOS DATOS EN UN MISMO DATAFRAME Y EXPORTANDOLO A UN .CVS
dataset = pd.DataFrame({'Carac menos 2':car_m2, 'Carac menos 1':car_m1, 'Etiqueta':etiqueta})
dataset.to_csv('goldPriceArranged.csv')

In [7]:
matrizDatos = dataset.to_numpy()

In [8]:
# DEFINICIÓN DE LA FUNCIÓN DE COSTO
def funcCosto(arr_1, arr_2):
  J = (arr_1-arr_2)**2
  return np.sum(J)/(2*len(J))

In [21]:
#BUSQUEDA DE LOS PARAMETROS POR FUERZA BRUTA
J,T0,T1 = 0,0,0
h_x0=T0*car_m1+T1*car_m2 #HIPOTESIS INICIAL
Jmin = funcCosto(h_x0,etiqueta)
for T0i in np.arange(-2,2,0.005):
  for T1j in np.arange(-2,2,0.005):
    h_x=T0i*car_m1+T1j*car_m2 #HIPOTESIS EN LA GRILLA
    J=funcCosto(h_x,etiqueta)
    if J < Jmin:
      Jmin = J
      T0 = T0i
      T1 = T1j

print("Los mejores valores para los parámetros según la región escogida son: Tetha0 = {}, y Tetha1 = {}".format(T0,T1))

Los mejores valores para los parámetros según la región escogida son: Tetha0 = 0.9899999999999363, y Tetha1 = 0.009999999999957154